*{
    box-sizing:border-box;
}

ul,li{
    list-style:none
}

body{
    margin: 0;
}

.people{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    gap: 30px 40px;


@media(min-width: 750px){
    grid-template-columns: repeat(2, 200px);
}

@media(min-width: 1000px){
    grid-template-columns: repeat(4, 200px);
}

@media(min-width: 1500px){
    grid-template-columns: repeat(4, 200px);
}

.person {
.peson:hover{
    background-color: #eee;
}

.person img:hover {
    scale: 1.2;
    border-radius: 60px;
    margin-bottom: 20px;
    transition: all 1s;
    
}


.photo{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    
}

.photo img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        
    }
    .photo img:hover{
        border-radius: 60px;
        scale: 1.1;
        transition: all 1s;

    }

    .rank {
        position: absolute;
        padding: 7px 11px;
        background-color: #ffffff;
        color: #8b0000;
        top: 40%;
        right: 5px;
        transform: translateY(-40%);
        border-radius: 50%;
    }

    }

    .person:hover{
        scale: 1.2;
        padding: 20px 20px 46px;
        background-color: #eee;
        border-radius: 12px;
    }

    .person:hover .extra{
        display: block;
    }
    .details {
        text-align: center;
        .name {
            z-index: 3;
            font-size: 20px;
            font-weight: normal;
            color: #2F4F4F;
            margin-bottom: 20px;
        }

        .extra {
            display: none;

        }
    }


}







